<a href="/options">More Options</a>

<div class="row">
  <div class="col-8">
    <div class="padded">
    </div>
    <div>
      Sort flights by:
      <form action="/flights" method="get" class="inline" id="sort-form">
        <input type="hidden" name="sort" value="<%= params[:sort] %>" id="sort">
        <button id="sort_by_price" type="submit" class="sort-criterion <%= highlight_class('price') %>">Price</button>
        <button id="sort_by_duration" type="submit" class="sort-criterion <%= highlight_class('duration') %>">Duration</button>
        <button id="sort_by_takeoff" type="submit" class="sort-criterion <%= highlight_class('takeoff') %>">Departure Time</button>
        <button id="sort_by_landing" type="submit" class="sort-criterion <%= highlight_class('landing') %>">Arrival Time</button>
        <div>
        <strong>Filters:</strong>
        Maximum Price
        <input type="number" name="maxPrice" class="filter" id="maxPrice" value="<%= params[:maxPrice] %>">
        Maximum Duration (hours)
        <input type="number" step="0.01" name="maxDuration" class="filter" id="maxDuration" value="<%= params[:maxDuration] %>">
        Depart after
        <input type="time" step="0.01" name="minDepartureTime" class="filter" id="minDepartureTime" value="<%= params[:minDepartureTime] %>">
        Arrive before
        <input type="time" step="0.01" name="maxArrivalTime" class="filter" id="maxArrivalTime" value="<%= params[:maxArrivalTime] %>">
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="col-6">
    <form action="/flights/delete_all" method="post" class="delete">
      <button type="submit">Delete All Flights</button>
    </form>
  </div>
</div>

<div class="row">
  <table>
    <thead>
      <tr>
        <% FLIGHT_ATTRIBUTES.each do |attribute| %>
          <th><%= attribute %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
        <tr>
          <td><%= format_date flight[:date] %></td>
          <td><%= flight[:airline] %></td>
          <td><%= flight[:flight_number] %></td>
          <td><%= flight[:origin] %></td>
          <td><%= flight[:destination] %></td>
          <td><%= format_time flight[:departure_time] %></td>
          <td><%= format_arrival_time(flight) %></td>
          <td><%= flight[:routing] %></td>
          <td><%= format_travel_time(flight) %></td>
          <td>$<%= format_price(flight) %></td>
          <td><a href="/flights/<%= flight[:id] %>">View</a></td>
          <td><a href="<%= southwest_query_url_from_flight(flight) %>" target="_blank">View on southwest.com</a></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

