<h1><a href="/flights">Flights</a></h1>

<a href="/flights/new">New Flight</a>

<a href="/flights/add-southwest-flights">Add Southwest Flights</a>

<p>
  Sort by
  <form action="/flights" method="get" class="inline">
    <input type="hidden" name="sort" value="price">
    <button type="submit">Price</button>
  </form>

  <form action="/flights" method="get" class="inline">
    <input type="hidden" name="sort" value="duration">
    <button id="submit">Duration</button>
  </form>

  <form action="/flights" method="get" class="inline">
    <input type="hidden" name="sort" value="takeoff">
    <button id="sort_by_takeoff">Takeoff</button>
  </form>

  <form action="/flights" method="get" class="inline">
    <input type="hidden" name="sort" value="landing">
    <button id="sort_by_landing">Landing</button>
  </form>
</p>

<table>
  <thead>
    <tr>
      <% FLIGHT_ATTRIBUTES.each do |attribute| %>
        <th><%= attribute %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= format_date flight[:date] %></td>
        <td><%= flight[:airline] %></td>
        <td><%= flight[:number] %></td>
        <td><%= flight[:origin] %></td>
        <td><%= flight[:destination] %></td>
        <td><%= format_time flight[:departure_time] %></td>
        <td><%= format_arrival_time(flight) %></td>
        <td><%= flight[:routing] %></td>
        <td><%= format_travel_time(flight) %></td>
        <td>$<%= flight[:price] %></td>
        <td><a href="/flights/<%= flight[:id] %>">View</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<form action="/flights/delete_all" method="post" class="delete">
  <button type="submit">Delete All Flights</button>
</form>
