<table>
  <tr>
    <th>Date</th>
    <td><%= format_date @flight[:date] %></td>
  </tr>
  <tr>
    <th>Airline</th>
    <td><%= @flight[:airline] %></td>
  </tr>
  <tr>
    <th>Flight Number</th>
    <td><%= @flight[:flight_number] %></td>
  </tr>
  <tr>
    <th>Origin</th>
    <td><%= @flight[:origin] %></td>
  </tr>
  <tr>
    <th>Destination</th>
    <td><%= @flight[:destination] %></td>
  </tr>
  <tr>
    <th>Departure Time</th>
    <td><%= format_time @flight[:departure_time] %></td>
  </tr>
  <tr>
    <th>Arrival Time</th>
    <td><%= format_arrival_time(@flight) %></td>
  </tr>
  <tr>
    <th>Routing</th>
    <td><%= @flight[:routing] %></td>
  </tr>
  <tr>
    <th>Travel Time</th>
    <td><%= format_travel_time(@flight) %></td>
  </tr>
  <tr>
    <th>Price</th>
    <td>$<%= format_price(@flight) %></td>
  </tr>
</table>

<a href="/flights/<%= @flight[:id] %>/edit">Edit</a>

<form class="delete" action="/flights/<%= @flight[:id] %>/delete" method="post">
  <button type="submit">Delete</button>
</form>
